/* start of declaration of font family */

@font-face {
  font-family: "Urzeit";
  src: url("./fonts/Urzeit-Personal_Use.ttf");
}

@font-face {
  font-family: "SFPro";
  src: url("./fonts/SF-Pro.ttf");
}

/* end of declaration of font family */

/* start of declaration of variables */

:root {
  --primary-color: black;
  --secondary-color: #164577;
  --shadow-color: #16457708;
}

/* end of declaration of variables */

/* start of global styles */

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif; /* fallback */
  color: var(--primary-color);
  background-color: white;

  @media (width < 1000px) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: var(--secondary-color);
  }
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

/* end of global styles */

/* start of navbar styles */

nav#navbar {
  display: flex;
  justify-content: space-between;

  font-family: SFPro;
  color: white;

  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;

  @media (width < 900px) {
    flex-direction: column;
  }
}

div#navbar-offset {
  position: absolute;
  top: -64px;
}

div#nav-header {
  display: flex;
  justify-content: space-between;
}

button#nav-button {
  display: none;

  width: 64px;
  height: 64px;
  padding: 16px 18px;
  font-size: 32px;
  background-color: transparent;
  color: white;
  border: none;

  @media (width < 900px) {
    display: block;
  }
}

img#logo {
  height: 80px;

  @media (width < 900px) {
    height: 64px;
  }
}

ul#nav-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  list-style: none;
  margin: 0px 40px;

  @media (width >= 900px) {
    display: flex;
  }

  @media (width < 900px) {
    display: none;
    flex-direction: column;
    gap: 16px;

    margin: 16px 16px;
  }
}

li.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (width < 900px) {
    justify-content: right;
  }
}

a.nav-link {
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

/* end of navbar styles */

div.landing-point {
  position: relative;
  bottom: 64px;
}

main#content {
  display: flex;
  flex-direction: column;
  gap: 64px;

  margin: 64px;
  font-family: SFPro;

  @media (width < 900px) {
    gap: 32px;
    margin: 32px 24px;
  }
}

img#banner {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (width < 900px) {
    gap: 20px;
  }
}

h1.header {
  font-size: 64px;
  font-weight: 400;
  font-family: Urzeit;
  color: var(--secondary-color);
  letter-spacing: 4px;
  text-align: center;

  @media (width < 1000px) {
    font-size: 48px;
  }
}

h2.subheader {
  font-size: 32px;
  font-weight: 200;
  font-family: Urzeit;
  color: var(--secondary-color);
  letter-spacing: 2px;

  @media (width < 1000px) {
    font-size: 24px;
  }
}

.photo {
  box-shadow: 0px 0px 2px 2px var(--shadow-color);
  border-radius: 8px;
}

/* start of menu styles */

div#menu-switcher {
  display: flex;
  justify-content: center;
}

button.menu-button {
  font-size: 24px;
  font-weight: 200px;
  font-family: Urzeit;
  letter-spacing: 1px;

  padding: 8px 16px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;

  @media (width < 1000px) {
    font-size: 18px;
  }

  @media (width < 900px) {
    padding: 6px 12px;
  }
}

button#daytime-menu-button {
  background-color: white;
  color: var(--secondary-color);

  border-radius: 8px 0px 0px 8px;
  border-right: none;
}

button#evening-menu-button {
  background-color: var(--secondary-color);
  color: white;

  border-radius: 0px 8px 8px 0px;
  border-left: none;
}

div.menu-hours {
  text-align: center;
}

div.menu {
  display: flex;
  justify-content: center;
  gap: 64px;

  @media (width < 900px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

div.menu-column {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 480px;

  @media (width < 900px) {
    gap: 20px;
    width: 320px;
  }
}

div.menu-row {
  display: flex;
  justify-content: space-between;
}

div.menu-linebreak {
  height: 8px;
}

div.food, div.food-options {
  display: flex;
}

b.food-number, .menu-indentation {
  width: 32px;
  color: var(--secondary-color);

  @media (width < 900px) {
    width: 24px;
  }
}

div.price {
  display: flex;
  align-items: center;
}

i.menu-note {
  font-size: 16px;

  @media (width < 1000px) {
    font-size: 14px;
  }
}

/* end of menu styles */

/* start of specials styles */

div#specials {
  display: flex;
  justify-content: center;
  gap: 64px;

  @media (width < 900px) {
    flex-direction: column;
    gap: 20px;
  }
}

div.special {
  display: flex;
  flex-direction: column;
  gap: 4px;

  text-align: center;
}

/* end of specials styles */

/* start of about styles */

div.about-subsection {
  display: flex;
  justify-content: center;
  gap: 64px;

  @media (width < 900px) {
    flex-direction: column;
    gap: 16px;
  }
}

img.about-photo {
  width: 32%;

  @media (width < 900px) {
    width: 96%;
  }
}

div.about-paragraph {
  display: flex;
  align-items: center;

  width: 64%;

  @media (width < 900px) {
    width: 100%;

    text-align: justify;
  }
}

/* end of about styles */

/* start of contact styles */

div#contact-information {
  display: flex;
  justify-content: center;
  gap: 32px;

  @media (width < 900px) {
    flex-direction: column;
    gap: 16px;
  }
}

div.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 42%;

  @media (width < 900px) {
    width: 100%;
    text-align: center;
  }
}

i.contact-icon {
  color: var(--secondary-color);
}

iframe#map {
  width: 100%;
  aspect-ratio: 1.25;
  border: none;

  @media (width < 900px) {
    width: calc(100% - 8px);
  }
}

/* end of contact styles */

footer#footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-top: 1px solid var(--shadow-color);
  text-align: center;
  padding-top: 32px;
  font-size: 18px;

  @media (width < 1000px) {
    font-size: 14px;
  }

  @media (width < 900px) {
    padding-top: 16px;
  }
}
